# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Uploads
# -----------------------------
backend/uploads/
!backend/uploads/.gitkeep

# -----------------------------
# Vector Database
# -----------------------------
backend/vector_db/
!backend/vector_db/.gitkeep

# -----------------------------
# Logs
# -----------------------------
*.log